
code{
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
  margin-bottom: 16px;
  margin-top: 0;
}



/* for utterances */

.utterances {
  display: none;
  margin-left: 310px;
}

.utterances-frame{
  position: relative;
}

html, .wy-body-for-nav{
  overflow: visible;
}

.wy-nav-content-wrap {
  background: #fcfcfc;
}
