
code{
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
  margin-bottom: 16px;
  margin-top: 0;
}



.utterances {
  display: none;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* bottom: 0; */
  margin-left: 360px;
}

.utterances-frame{
  position: relative;
}

html, .wy-body-for-nav{
  overflow: visible;
}
